---
---

@import "minima";

.language-selector {
  padding: 15px;
  width: 100%;
  background-color: rgb(232, 232, 232);
  font-size: 1.1em;
  border-radius: 5px;
  margin-bottom: 20px;

  & > * {
    margin-right: 10px;
  }
}
