h1, h2, h3, h4, h5, h6 {
    color: rgb(75, 75, 75);
    font-weight: 300;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

dt {
    font-weight: bold;
}
dd {
    margin: 0 0 10px 0;
}

#text-table-of-contents a {
    text-decoration: none;
}

.postamble-links a {
	color: rgb(119, 119, 119)
}

